UI menu.c32
DEFAULT MAIN
TIMEOUT 100

MENU TITLE Anmincat 1.6 Alpha - 11 April 2022

LABEL MAIN
	MENU LABEL Anmincat64 (Default)
	LINUX /boot/vmlinuz
	INITRD /boot/rootfs.gz

LABEL NOXORG
	MENU LABEL Anmincat64 (Without X/GUI, US keyboard layout)
	LINUX /boot/vmlinuz
	INITRD /boot/rootfs.gz
	APPEND noxorg

LABEL XORG_KBLAYOUT
	MENU LABEL Anmincat64 (X/GUI, Non-US keyboard layout)
	LINUX /boot/vmlinuz
	INITRD /boot/rootfs.gz
	APPEND setuplayout

LABEL NOXORG_KBLAYOUT
	MENU LABEL Anmincat64 (Without X/GUI, Non-US keyboard layout)
	LINUX /boot/vmlinuz
	INITRD /boot/rootfs.gz
	APPEND setuplayout noxorg

LABEL REBOOT
	MENU LABEL Reboot
	COM32 reboot.c32

LABEL POWEROFF
	MENU LABEL Poweroff
	COM32 poweroff.c32
